{% include 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1>About our company</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quis repellat unde. Accusamus aliquam aliquid ea enim eos officia quod. A aliquid dicta eveniet impedit quo ratione rem sequi soluta.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur deserunt dolore exercitationem inventore similique! Animi, blanditiis consectetur dolore est incidunt laborum, nam necessitatibus nemo nostrum odit quas quisquam sapiente totam.</p>
    </div>
{% endblock %}